<app-after-login-nav-bar></app-after-login-nav-bar>
<app-afterloginproduct></app-afterloginproduct>
<html>
    <head> </head>
        <body>
            <h1 style="padding-left: 30px; padding-top: 40px; font-weight: bold;">ISD Plans</h1>
            <div class="card-container">
                <div *ngFor="let plan of planList" class="card-container">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                            *Validity Till Billing Cycle. 
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ISD Talktime&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{plan.talktime | currency:'INR'}}</b></li>
                        <li class="list-group-item">Pack Validity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{plan.validity}}</b></li>
                        <li class="list-group-item">ISD SMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{plan.sms}}</b></li>
                        <li class="list-group-item">Where it's Valid?</li>
                        <li class="list-group-item"><b>For 230 Countries Across 14693 Country Codes.</b></li>
                    </ul>
                    <div class="card-body">
                        <div class="text-center">
                            <button type="submit" class="btn btn-panel btn-hover">
                              Buy
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
</html>

