<app-after-login-nav-bar></app-after-login-nav-bar>
<app-afterloginproduct></app-afterloginproduct>
<html>
    <head> </head>
        <body>
            <h1 style="padding-left: 30px; margin-top: -150px;padding-top: 40px; font-weight: bold;">Protel Postpaid Plans</h1>

            <div class="card-container">
                <div *ngFor="let plan of plans1499" class="card-container">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                          *Validity Till Billing Cycle.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><div class="col-text-start">Family Add On<b><span  class="col-text-end">{{plan.add_on}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Total Data<b><span class="col-text-end">{{plan.total_data}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">SMS Per Day<b><span class="col-text-end">{{plan.sms_per_day}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Local STD & Roaming Calls<b><span class="col-text-end">{{plan.calls}}</span></b></div></li>
                        <li class="list-group-item">OTT Services Offered:</li>
                        <li class="list-group-item"><b><img width="25px" height="25px" src="assets/images/netflix.png"><img width="30px" height="30px" src="assets/images/prime.png"><img width="30px" height="30px" src="assets/images/hotstar.jpg"></b></li>
                      </ul>
                      <div class="card-body">
                        <div class="text-center">
                          <button type="submit" class="btn btn-panel btn-hover">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


            <div class="card-container">
                <div *ngFor="let plan of plans999" class="card-container">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                          *Validity Till Billing Cycle.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><div class="col-text-start">Family Add On<b><span class="col-text-end">{{plan.add_on}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Total Data<b><span class="col-text-end">{{plan.total_data}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">SMS Per Day<b><span class="col-text-end">{{plan.sms_per_day}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Local STD & Roaming Calls<b><span class="col-text-end">{{plan.calls}}</span></b></div></li>
                        <li class="list-group-item">OTT Services Offered:</li>
                        <li class="list-group-item"><b><img width="30px" height="30px" src="assets/images/prime.png"><img width="30px" height="30px" src="assets/images/hotstar.jpg"></b></li>
                      </ul>
                      <div class="card-body">
                        <div class="text-center">
                          <button type="submit" class="btn btn-panel btn-hover">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="card-container">
                <div *ngFor="let plan of plans599" class="card-container">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                          *Validity Till Billing Cycle.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><div class="col-text-start">Family Add On<b><span class="col-text-end">{{plan.add_on}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Total Data<b><span class="col-text-end">{{plan.total_data}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">SMS Per Day<b><span class="col-text-end">{{plan.sms_per_day}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Local STD & Roaming Calls<b><span class="col-text-end">{{plan.calls}}</span></b></div></li>
                        <li class="list-group-item">OTT Services Offered:</li>
                        <li class="list-group-item"><b><img width="30px" height="30px" src="assets/images/hotstar.jpg"></b></li>
                      </ul>
                      <div class="card-body">
                        <div class="text-center">
                          <button type="submit" class="btn btn-panel btn-hover">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


            <div class="card-container">
                <div *ngFor="let plan of plans499" class="card-container">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                          *Validity Till Billing Cycle.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><div class="col-text-start">Family Add On<b><span class="col-text-end">{{plan.add_on}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Total Data<b><span class="col-text-end">{{plan.total_data}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">SMS Per Day<b><span class="col-text-end">{{plan.sms_per_day}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Local STD & Roaming Calls<b><span class="col-text-end">{{plan.calls}}</span></b></div></li>
                        <li class="list-group-item">OTT Services Offered:</li>
                        <li class="list-group-item"><b>{{plan.ott_offered}}</b></li>
                      </ul>
                      <div class="card-body">
                        <div class="text-center">
                          <button type="submit" class="btn btn-panel btn-hover">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


            <div class="card-container">
                <div *ngFor="let plan of plans399" class="card-container">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                          *Validity Till Billing Cycle.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><div class="col-text-start">Family Add On<b><span class="col-text-end">{{plan.add_on}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Total Data<b><span class="col-text-end">{{plan.total_data}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">SMS Per Day<b><span class="col-text-end">{{plan.sms_per_day}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Local STD & Roaming Calls<b><span class="col-text-end">{{plan.calls}}</span></b></div></li>
                        <li class="list-group-item">OTT Services Offered:</li>
                        <li class="list-group-item"><b>{{plan.ott_offered}}</b></li>
                      </ul>
                      <div class="card-body">
                        <div class="text-center">
                          <button type="submit" class="btn btn-panel btn-hover">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


            <div class="card-container">
                <div *ngFor="let plan of plans299" class="card-container">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          Monthly Rental of
                        </p>
                        <h1 class="card-title">{{plan.price | currency:'INR'}}</h1>
                        <p class="card-text">
                          *Validity Till Billing Cycle.
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><div class="col-text-start">Family Add On<b><span class="col-text-end">{{plan.add_on}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Total Data<b><span class="col-text-end">{{plan.total_data}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">SMS Per Day<b><span class="col-text-end">{{plan.sms_per_day}}</span></b></div></li>
                        <li class="list-group-item"><div class="col-text-start">Local STD & Roaming Calls<b><span class="col-text-end">{{plan.calls}}</span></b></div></li>
                        <li class="list-group-item">OTT Services Offered:</li>
                        <li class="list-group-item"><b>{{plan.ott_offered}}</b></li>
                      </ul>
                      <div class="card-body">
                        <div class="text-center">
                          <button type="submit" class="btn btn-panel btn-hover">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

        </body>
</html>