<html>
    <head></head>
    <body>
      <section class="background-radial-gradient overflow-hidden">
      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color:black">
              Protel<br />
              <span style="color: #cb1717">International Roaming</span>
            </h1>
            <p class="mb-4 opacity-70" style="color: black; text-align: justify;">
             Now get the best of International Roaming Plans here at Protel at exciting prices,
             subscribe to Protel's specially curated plans to connect with your loved one anywhere in the world.
              Welcome to the future of international connectivity; welcome to Protel.
            </p>
            <b>Don't have an account?</b>&nbsp;&nbsp;
            <button type="submit" class="btn btn-panel btn-hover" routerLink="/reg">
              Sign Up
            </button>
          </div>
    
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    
            <div class="card bg-glass">
              <div class="card-body">
                <form>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <h1 class="my-5 display-5 fw-bold ls-tight">International Roaming</h1>
                  </div>
    
                  <!-- <div>
                    <h5 class="my-5 display-5 fw-bold ls-tight">Enter Your Details</h5>
                  </div> -->

                  <!-- phone no input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Phone Number</label>
                    <input type="email" id="form3Example3" class="form-control" />
                  </div>

                  <div class="input-group mb-3">
                    <label class="form-label" for="form3Example3">Select Country</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">New York</option>
                        <option value="2">London</option>
                        <option value="3">Japan</option>
                        <option value="4">South Korea</option>
                        <option value="5">Dubai</option>
                        <option value="6">Brazil</option>
                        <option value="7">Melbourne</option>
                        <option value="8">Canada</option>
                        <option value="9">China</option>
                    </select>
                  </div>
    
                  <!-- Submit button -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-panel btn-hover">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </body>
</html>

